
<footer class="footer-container">
    
    <div class="footer-top">
        <div class="footer-logo">
            <img src="{{ url_for('static', filename='images/logo_ddwin_white.png') }}" alt="Logo DDWin">
        </div>
      
        <div class="footer-nav">
            <a href="/">Home</a>
            <a href="/sports">Sports</a>
            <a href="/sports">Vídeo Tutorial</a>
            <a href="/sobre">Sobre</a>
        </div>
      
        <div class="footer-icons">
            <div class="icons">
                <a href="https://t.me/ddwinsports" target="_blank" title="Siga-nos no Telegram">
                    <img src="{{ url_for('static', filename='images/telegram_white.png') }}" alt="Telegram" class="icon-img">
                </a>                  
                <a href="https://www.instagram.com/andredamus" target="_blank" title="Siga-nos no Instagram">
                    <img src="{{ url_for('static', filename='images/instagram_white.png') }}" alt="Instagram" class="icon-img">
                </a>
                <a href="https://www.youtube.com/@andredamus1" target="_blank" title="Nos acompanhe no YouTube">
                    <img src="{{ url_for('static', filename='images/youtube_white.png') }}" alt="YouTube" class="icon-img">
                </a>
            </div>
            <a href="mailto:andredamus@gmail.com" class="contact-button">Contato</a>
        </div>
    </div>
    
    <hr class="footer-separator">
    
    <p class="footer-copy">&copy; 2025 DDWin Sports. Todos os direitos reservados.</p>

</footer>
