
<div class="top-bar">
    <div class="language-selector">
        <i class="fas fa-globe"></i>
        <span class="language-option active" data-lang="pt">PT</span>
        <span class="language-option" data-lang="en">EN</span>
    </div>
</div>

<header>
    <div class="logo">
        <img src="{{ url_for('static', filename='images/logo-ddwin.png') }}" alt="DDWin Sports">
        <h4>A vantagem que você precisa</h4>
    </div>
    <nav class="header-nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/#sports-leagues">Sports</a></li>
            <li><a href="/#video-tutorial">Vídeo Tutorial</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="mailto:andredamus@gmail.com">Contato</a></li>
        </ul>
    </nav>
</header>